@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	@font-face {
		font-family: 'Fivo Sans';
		font-weight: 500;
		src: url('/public/fonts/fivo-sans/fivo-sans-medium-500.otf')
			format('opentype');
	}

	@font-face {
		font-family: 'Versus Ultra';
		font-weight: 900;
		src: url('/public/fonts/versus/versus-ultra-900.otf') format('opentype');
	}
}

@layer components {
	.mobile-navbar {
		@apply absolute top-0 right-0 flex h-[100vh] w-full flex-col items-center justify-center gap-[2rem] bg-black text-center font-fivo-sans text-[1.8rem] text-white transition-all;
	}

	.desktop-navbar {
		@apply hidden gap-[3rem] font-fivo-sans text-[1.6rem] transition-all md:flex;
	}

	.h1-fluid-text {
		font-size: clamp(2rem, 0.9157rem + 3.012vw, 4rem);
	}

	.content-1-fluid-text {
		font-size: clamp(1.4rem, 1.2916rem + 0.3012vw, 1.6rem);
	}

	.content-2-fluid-text {
		font-size: clamp(1.2rem, 1.0916rem + 0.3012vw, 1.4rem);
	}

	.h2-fluid-text {
		font-size: clamp(2rem, 0.3735rem + 4.5181vw, 5rem);
	}

	.fluid-text__p-3-6 {
		font-size: clamp(3rem, 1.3735rem + 4.5181vw, 6rem);
	}
}

*,
::before,
::after {
	box-sizing: border-box;
}

:root {
	font-size: 10px;
}

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}
